OUTPATH={{ webroot }}/{{ project }}
OUTPUT_FILE=${OUTPATH}/index.html
DATABASE_NAME={{ sqlite_db_name }}
cd {{ sqlite_path }}
{
echo "<!DOCTYPE html>"
echo "<html>"
echo "<head>"
echo "<style>"
echo "#results {"
echo "    font-family: \"Trebuchet MS\", Arial, Helvetica, sans-serif;"
echo "    border-collapse: collapse;"
echo "    width: 100%;"
echo "}"
echo "#results td, #customers th {"
echo "    border: 1px solid #ddd;"
echo "    padding: 8px;"
echo "}"
echo ""
echo "#results tr:nth-child(even){background-color: #f2f2f2;}"
echo ""
echo "#results tr:hover {background-color: #ddd;}"
echo ""
echo "#results th {"
echo "    padding-top: 12px;"
echo "    padding-bottom: 12px;"
echo "    text-align: left;"
echo "    background-color: #4CAF50;"
echo "    color: white;"
echo "}"
echo "</style>"
echo "</head>"
echo "<body>"
echo "<table id=\"results\">"
echo "<tr><th>id</th><th>project</th><th>job</th><th>inventory</th><th>limit tag</th><th>total hosts</th><th># unreachable (inc proxy use)</th><th># failed fact gather</th><th># failed</th><th># successful</th><th># no ssh from master</th><th># no dns</th><th>finish date</th><th>finish time</th></tr>" 
for i in $(echo "select id from playbook_results;" | sqlite3 ${DATABASE_NAME}); do
if [[ ! -e {{ webroot }}/{{ project }}/${i} ]]; then
mkdir -p {{ webroot }}/{{ project }}/${i}
echo "select unreachable_host_list from playbook_results where id = ${i};"|sqlite3 ${DATABASE_NAME} |tr ' ' '\n' > {{ webroot }}/{{ project }}/${i}/${i}_unreachable_hosts.txt
echo "select failed_host_list from playbook_results where id = ${i};"|sqlite3 ${DATABASE_NAME} |tr ' ' '\n' > {{ webroot }}/{{ project }}/${i}/${i}_failed_hosts.txt
echo "select failed_facts_host_list from playbook_results where id = ${i};"|sqlite3 ${DATABASE_NAME} |tr ' ' '\n' > {{ webroot }}/{{ project }}/${i}/${i}_failed_facts_hosts.txt
echo "select successful_host_list from playbook_results where id = ${i};"|sqlite3 ${DATABASE_NAME} |tr ' ' '\n' > {{ webroot }}/{{ project }}/${i}/${i}_successful_hosts.txt
echo "select no_ssh_avail_list from playbook_results where id = ${i};"|sqlite3 ${DATABASE_NAME} |tr ' ' '\n' > {{ webroot }}/{{ project }}/${i}/${i}_no_ssh_hosts.txt
echo "select no_dns_found_list from playbook_results where id = ${i};"|sqlite3 ${DATABASE_NAME} |tr ' ' '\n' > {{ webroot }}/{{ project }}/${i}/${i}_no_dns_hosts.txt
echo "select total_host_list from playbook_results where id = ${i};"|sqlite3 ${DATABASE_NAME} |tr ' ' '\n' > {{ webroot }}/{{ project }}/${i}/${i}_all_hosts.txt
fi
cd {{ sqlite_path }} && sqlite3 ${DATABASE_NAME} "select id,project_title,job_title,inventory_file,limittag,total_host_count,unreachable_host_count,failed_facts_host_count,failed_host_count,successful_host_count,no_ssh_avail_count,no_dns_found_count,finish_date,finish_time from playbook_results where id = ${i};" |awk -F\| '{print "<tr><td>"$1"</td><td>"$2"</td><td>"$3"</td><td>"$4"</td><td>"$5"</td><td><a href=\""$1"/"$1"_all_hosts.txt\">"$6"</a></td><td><a href=\""$1"/"$1"_unreachable_hosts.txt\">"$7"</a></td><td><a href=\""$1"/"$1"_failed_facts_hosts.txt\">"$8"</a></td><td><a href=\""$1"/"$1"_failed_hosts.txt\">"$9"</a></td><td><a href=\""$1"/"$1"_successful_hosts.txt\">"$10"</a></td><td><a href=\""$1"/"$1"_no_ssh_hosts.txt\">"$11"</a></td><td><a href=\""$1"/"$1"_no_dns_hosts.txt\">"$12"</a></td><td>"$13"</td><td>"$14"</td></tr>"}'
done
echo "</table>"
echo "</body>"
} > ${OUTPUT_FILE}
