INSERT INTO playbook_results (
project_title,
job_title,
inventory_file,
limittag,
total_host_count,
unreachable_host_count,
failed_facts_host_count,
failed_host_count,
successful_host_count,
no_ssh_avail_count,
no_dns_found_count,
total_host_list,
successful_host_list,
failed_host_list,
unreachable_host_list,
failed_facts_host_list,
no_ssh_avail_list,
no_dns_found_list,
finish_date,
finish_time
) VALUES (
'{{ project }}',
'{{ title }}',
'{{ inventory_file.split('/')|last }}',
'{{ ansible_limit|default("") }}',
'{{ ansible_play_hosts_all|default([])|count }}',
'{{ hostvars['localhost']['unreachable_hosts']|default([])|count }}',
'{{ hostvars['localhost']['failed_facts_hosts']|default([])|count }}',
'{{ hostvars['localhost']['failed_hosts']|default([])|count }}',
'{{ ansible_play_hosts|default([])|count }}',
'{{ hostvars['localhost']['no_ssh_hosts']|default([])|count }}',
'{{ hostvars['localhost']['no_dns_hosts']|default([])|count }}',
'{{ ansible_play_hosts_all|default([])|join(' ') }}',
'{{ ansible_play_hosts|default([])|join(' ') }}',
'{{ hostvars['localhost']['failed_hosts']|default([])|join(' ') }}',
'{{ hostvars['localhost']['unreachable_hosts']|default([])|join(' ') }}',
'{{ hostvars['localhost']['failed_facts_hosts']|default([])|join }}',
'{{ hostvars['localhost']['no_ssh_hosts']|default([])|join(' ') }}',
'{{ hostvars['localhost']['no_dns_hosts']|default([])|join(' ') }}',
'{{ hostvars['localhost']['finish_date'] }}',
'{{ hostvars['localhost']['finish_time'] }}'
);
